* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow-y: hidden;
  color: #aaa;
}

i {
  color: #3A3A3A;
}

a {
  text-decoration: none;
  color: #aaa;
}

input {
  border-radius: 0;
  font-size: 100%;
}

input::placeholder {
  font-size: 12px;
}

.checked {
  color: orange;
}

.header {
  background-color: #B62A3D;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: flex;
}

#sidebar {
  background-color: #cad2d3;
  width: 375px;
  height: 100%;
}

#search-and-results {
  height: 100%;
}

#search-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 10px solid #cad2d3;
}

#search-area input {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 8px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  width: calc(100% - 44px);
}

#search-area button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: #EDCB64;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

#search-area form {
  width: 100%;
}

#results-area {
  padding: 10px;
  height: 85%;
}

#results-area h5 {
  font-weight: 200;
  font-style: italic;
  margin: 0;
  color: #282828;
}

#results-area h5 span.highlight {
  color: #072844;
  font-weight: 600;
}

#results-area ul {
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: 100%;
}

#results-area ul li {
  border-bottom: 1px solid #444;
  padding: 8px 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

#results-area ul li p {
  margin: 0;
  font-size: 14px;
}

#results-area ul li p.cart-name {
  color: #3A3A3A;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 5px;
  font-family: 'Titillium Web', sans-serif;
}

#results-area ul li div.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 0;
}

#results-area ul li div.row div.icons {
  order: 1;
}

img {
  height: 16px;
}

#results-area ul li div.row div.content {
  order: 2;
  margin-left: 10px;
  color: #3A3A3A;

}

#results-area ul li div.row a {
  color: #3A3A3A;
}

#content {
  flex: 1;
  border-top: 10px solid #cad2d3;
}

#map {
  background-color: #cad2d3;
  height: 100%;
}

input.mobile-search {
  width: 100%;
  height: 100%;
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
}

.mapboxgl-popup-content {
  background: black !important;
  font-family: 'Titillium Web', sans-serif;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: black !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: black !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: black !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: black !important;
}

.mapboxgl-popup-close-button {
  color: white;
  outline: none;
}

.mapboxgl-popup-content .marker-title {
  color: #FAEBD7;
  text-transform: uppercase;
  font-size: 14px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  margin-top: 10px
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column
  }
  #content {
    border: none;
  }
  #sidebar {
    width: 100%;
    height: auto;
  }
  #sidebar #results-area {
    display: none;
  }
  #search-area button {
    background-color: #f5f5f5;
  }
}
